*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Palanquin';
}

header{
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(189, 56, 56);
    height:100px;
}

#input{
    width: 200px;
    border: none;
    border-radius: 15px;
    padding: 10px 8px 0px 8px;
}

#main_div{
    color: rgb(0, 0, 0);
    display: flex;
    margin: auto;
    max-width: 1920px;
    height: auto;
    border: 12px solid black;
    background-color: rgb(66, 64, 64);
}

#pokemonList{
    gap: 16px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.template_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    border: 8px solid rgb(238, 208, 75);
    padding: 8px;
    height: 300px;
    width: 200px;
    margin: 2px;
    color: lightgray;
}

.template_box:hover{
    cursor: pointer;
}

.img{
    height: 150px;
    width: 150px;
}
.zoom:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.type-name{
    font-weight: bold;
    font-family: monospace;
    margin: 2px;
    padding: 4px;
}
.type-name:hover{
    cursor: pointer;
}

dialog[open]{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    position: fixed;
    translate: -50% -50%;
    border-radius: 15px;
}

dialog::backdrop{
    background-color: rgb(15, 15, 15);
    opacity: 0.9;
}

#cardDialog{
background-color: rgb(255, 255, 255);
color: rgb(24, 23, 23);
}

#dialogContentBox{
    height: auto;
}

.cardButtons{
    width : auto;
    height: 100px;
}

#buttonsDiv{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.buttonStyles{
    width: 55px;
    border: none;
    background-color: rgb(238, 208, 75);
    border-radius: 12px;
    margin-top: 8px;
}